.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    /* animation: show-modal 0.2s linear; */
    border: none;
} 

/* @keyframes show-modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal_items {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    width: 500px;
    height: 500px;
    background-color: #06050B;
    border-radius: 13px;
}

.close_btn {
    color: white;
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
}