.button_container {
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
}

.title {
    color: white;
}

.button {
    width: 54px;
    height: 54px;
    border-radius: 10px;
    background: linear-gradient(164.66deg, #A7C2DA 21.91%, #F5CFC4 94.63%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}
